/.idea/aws.xml
/.idea/sonarlint/securityhotspotstore/8/e/8ec9a00bfd09b3190ac6b22251dbb1aa95a0579d
/.idea/.gitignore
/.idea/sonarlint/securityhotspotstore/index.pb
/.idea/vcs.xml
/.idea/sonarlint/securityhotspotstore/6/e/6e64492c23a42270d9fda6a48f95fa6f5c44c42b
/.idea/Lojinha.iml
/.idea/sonarlint/issuestore/6/e/6e64492c23a42270d9fda6a48f95fa6f5c44c42b
/.idea/sonarlint/issuestore/8/e/8ec9a00bfd09b3190ac6b22251dbb1aa95a0579d
/.idea/sonarlint/issuestore/index.pb
/.idea/modules.xml
/.idea/misc.xml
